.notifications-container {
  max-height: 300px;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 10px;
}

.notifications {
  margin-bottom: 0;
}

.notifications::-webkit-scrollbar {
  width: 5px;
}

.notifications::-webkit-scrollbar-thumb {
  background-color: #888;
}

.notifications::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.show-notifications-button {
  margin-top: 10px;
}
